:root{
    --background: #F1EFE7;
    --foreground: #626D62;
    --primary:#000000;
    --secondary:#B1C2BA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
}

::-webkit-scrollbar{
    display: none;
}

html{
    font-family: "Lato", sans-serif;
    font-size: 62.5%; /*define a fonte para 10px no rem */
}

body{
    background-color: var(--background);
    color: var(--primary);
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 1400px; /*largura maxima */
    margin: auto; /*centraliza o conteudo */
}