dados{
    justify-content: center;
    display: flex;
    align-items: center;
}

.dados .conteudo-dados{
    margin: 6rem 2rem 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.conteudo-dados form{
    width: 100%;
}

.conteudo-dados .item2{
    width: 20%;
}

.dados .loc,
.dados .tel,
.dados .clock{
    display: inline-flex;
    margin-top: 100px;
}

.dados .loc img,
.dados .tel img,
.dados .clock img{
    width: 3rem;
    height: auto;
    margin: auto;
    margin-left: auto;
}

.dados .textloc,
.dados .texttel,
.dados .textclock{
    font-size: 1.7rem;
    color: var(--primary);
    z-index: 10;
    position: relative; 
    text-align: justify;
    max-width: 110ch;
    margin-top: 4px;
}

.dados .redes{
    display: inline-flex;
    margin-top: 5px;
    margin-left: auto;
}

.dados .redes img{
    width: 3rem;
    height: auto;
    margin: auto;
}



@media (max-width: 768px) {
    .contatotlt{
        margin-top: 0;
    }
    
    .dados .item{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: -50px;
        width: 96%;

    }
    
    .mapa iframe {
        width: 100%;
    }

    form{
        width: 95%;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    .dados .item2{
        margin-left: 0px;
        z-index: 10;
        position: relative; 
        margin-top: 50px;
    }

    .c1 {
        width: 96%;
    }

    .c2{
        width: 96%;
 
    }

    .botaoz{
        width: 150px;
        height: 40px;
        font-size: 18px;
    }
}


