dados{
    justify-content: center;
    display: flex;
    align-items: center;
}

.dados .conteudo-dados{
    display: flex;
    justify-content: space-between;
}

.dados .item{
    margin-left: 300px;
}

.dados .loc{
    display: inline-flex;
    margin-top: 100px;
}

.dados .loc img{
    width: 3rem;
    height: auto;
    margin: auto;
    margin-left: auto;
}

.dados .textloc{
    font-size: 1.7rem;
    color: var(--primary);
    z-index: 10;
    position: relative; 
    text-align: justify;
    max-width: 110ch;
    margin-top: 4px;
}

.dados .tel{
    display: inline-flex;
    margin-top: 10px;
}

.dados .tel img{
    width: 3rem;
    height: auto;
    margin: auto;
    margin-left: auto;
}

.dados .texttel{
    font-size: 1.7rem;
    color: var(--primary);
    z-index: 10;
    position: relative; 
    text-align: justify;
    max-width: 110ch;
    margin-top: 4px;
}

.dados .redes{
    display: inline-flex;
    margin-top: 5px;
    margin-left: auto;
}

.dados .redes img{
    width: 3rem;
    height: auto;
    margin: auto;
}

.dados .clock{
    display: inline-flex;
    margin-top: 10px;
}

.dados .clock img{
    width: 3rem;
    height: auto;
    margin: auto;
    margin-left: auto;
}

.dados .textclock{
    font-size: 1.7rem;
    color: var(--primary);
    z-index: 10;
    position: relative; 
    text-align: justify;
    max-width: 110ch;
    margin-top: 4px;
}

.dados .item2{
    margin-left: 700px;
    z-index: 10;
    position: relative; 
}

form{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.c1{
    width: 40%;
    margin-bottom: 20px;
    justify-content: center;
}

.c1 input{
    width: 100%;
    border-radius: 30px;
    height: 30px;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.c2{
    width: 40%;
    margin-bottom: auto;
}

.c2 input{
    width: 100%;
    border-radius: 30px;
    height: 300px;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.botaoz button{
    justify-content: center;
    align-items: center;
}

.botaoz{
    display: flex;
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 30px;
    font-size: 24px;
    margin-top: 10px;
}