.fornecedores{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;
}

form{
    width: 100%;
    padding: 0 15% 0 15%;
}

.linha1{
    width: 100%;
}

.caixaTexto .input{
    width: 100%;
}

/*
.fornecedores .subtitle{
    font-weight: bold;
    font-size: 16px;
}

.c1{
    width: 70%;
    margin-bottom: 20px;
}

.c1 input{
    width: 100%;
    border-radius: 30px;
    height: 30px;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.f1{
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.f1 input{
    width: 70%;
    border-radius: 30px;
    height: 30px;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.f1 .final{
    float: left;
    align-items: left;
}


.f2{
    float: left;
    width: 40%;
    margin-bottom: 20px;
}

.f2 input{
    width: 80%;
    float: left;
    border-radius: 30px;
    height: 30px;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.f2 .final{
    padding-right: 30px;
}

.enviar{
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 30px;
    font-size: 24px;
}
*/