.fornecedores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
}
form{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.fornecedores .subtitle{
    font-weight: bold;
    font-size: 16px;
}

.c1{
    width: 70%;
    margin-bottom: 20px;
    justify-content: center;
}

.c1 input{
    width: 100%;
    border-radius: 30px;
    height: 30px;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.f1{
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.f1 input{
    width: 70%;
    border-radius: 30px;
    height: 30px;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.f1 .final{
    float: left;
    align-items: left;
}

.f2{
    float: left;
    width: 40%;
    margin-bottom: 20px;
}

.f2 input{
    width: 80%;
    float: left;
    border-radius: 30px;
    height: 30px;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.f2 .final{
    padding-right: 30px;
}

.enviar button{
    justify-content: center;
    align-items: center;
}

.enviar{
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 30px;
    font-size: 24px;
}

@media (max-width: 768px) {
    .dados .item{
        margin-left: 1%;
        width: 96%;

    }
    
    .mapa iframe {
        width: 100%;
    }

    form{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .dados .item2{
        margin-left: 0px;
        z-index: 10;
        position: relative; 
        margin-top: 50px;
    }

    .c1 {
        width: 90%;
    }

    .c2{
        width: 96%;
 
    }

    .f1{
        width: 100%;

    }

    .fornecedores{
        margin-left: 12px;
    }
}
