.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}


header{
   display: flex;
    width: 100%;
    margin: auto;
}

.logo img{
    width: 40rem;
    height: auto;
    margin: auto;
    padding-top: 15px;
}
navbar{
    align-items: center;
    justify-content: center;
}

nav ul{
    justify-content: center;
    
}

li{
    display: inline;
    margin-right: 10px;
    letter-spacing: .2rem;
    font-size: 12px;
}

li a{
    color: var(--primary);
    text-decoration: none;
}

nav li + li:before{
    content: " | ";
    padding: 0 10px;
}

