.title{
    font-weight: bold;
    font-size: 36px;
    margin-left: 200px;
}

.borda{
    border: 3.5px solid var(--primary);
    margin-left: 195px;
    margin-right: 195px;
}

.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projetos .imagens{
    margin-top: 3.2rem;
}

.projetos img{
    padding: 1.3rem;
}

.projetos .grid{
    display: grid;
    grid-template-columns: repeat(3, 389px);
    grid-template-rows: 512px 512px 512px;
    gap: 10px;
    margin-top: 3.2rem;
}