footer{
    justify-content: center;
    display: flex;
    align-items: center;
}

footer .rodape{
    border-radius: 100px 100px 0px 0px;
    background-color: var(--foreground); 
    margin-top: 60px;
    z-index: 2;
    width: 100%;
    height: 400px;
}

.rodape .conteudo-rodape{
    display: flex;
    justify-content: space-around;
}

.rodape .logo img{
    width: 32rem;
    height: auto;
    margin: auto;
    padding-top: 15px;
    margin-left: 140px;
    margin-top: 50px;
}

.rodape .loc{
    display: inline-flex;
    margin-top: 5px;
}

.rodape .loc img{
    width: 3rem;
    height: auto;
    margin: auto;
    margin-left: 160px;
}

.rodape .textloc{
    font-size: 1.5rem;
    color: var(--secondary);
    z-index: 10;
    position: relative; 
    text-align: justify;
    max-width: 110ch;
    margin-left: 3px;
}

.rodape .tel{
    display: inline-flex;
    margin-top: 10px;
}

.rodape .tel img{
    width: 3rem;
    height: auto;
    margin: auto;
    margin-left: 160px;
}

.rodape .texttel{
    font-size: 1.5rem;
    color: var(--secondary);
    z-index: 10;
    position: relative; 
    text-align: justify;
    max-width: 110ch;
    margin-top: 4px;
    margin-left: 3px;
}

.rodape .redes{
    display: inline-flex;
    margin-top: 5px;
    margin-left: 160px;
}

.rodape .redes img{
    width: 3rem;
    height: auto;
    margin: auto;
}

.rodape .menu1{
    font-size: 1.8rem;
    color: var(--secondary);
    z-index: 10;
    position: relative; 
    text-align: justify;
    max-width: 110ch;
    justify-content: center;
    line-height: 40px;
    margin-left: -275px;
    margin-top: 130px;
}

.rodape .menu2{
    font-size: 1.8rem;
    color: var(--secondary);
    z-index: 10;
    position: relative; 
    text-align: justify;
    max-width: 110ch;
    justify-content: center;
    line-height: 30px;
    margin-left: -380px;
    margin-top: 160px;
}

.rodape a{
    text-decoration: none;
    color: var(--secondary);
}


/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {

    .item {
        align-items: center;
        
    }
    footer .rodape {
        height: auto; 
        padding: 20px; 
    }

    .rodape .conteudo-rodape {
        flex-direction: column;
        align-items: center; 
    }

    .rodape .logo img {
        width: 20rem; 
        margin-left: 0; 
    }

    .rodape .loc,
    .rodape .tel,
    .rodape .redes {
        margin: 0; 
        margin-top: 10px; 
    }

    .rodape .menu1,
    .rodape .menu2 {
        font-size: 1.5rem; 
        line-height: 30px;
        margin-top: 10px; 
        margin-left: -150px;
    }

    .rodape .loc img {
        margin: 0px;
    }

    .rodape .tel img{
        margin: 0px;

    }

    .rodape .item {
        justify-content: center;
    }
}